body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #4d4d4d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* hero block */
section {
  width: 375px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.hero {
  height: 508px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/bg.jpg");
  background-color: #808c73;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.socials {
  margin-top: 105px;
  margin-left:194px;
  display: flex;
}

.social-link {
  height: 39px;
  width: 39px;
  margin-left: 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#linkedin {
  height: 18px;
  width: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

#github {
  height: 21px;
  width: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

#email {
  height: 25px;
  width: 25px;
  margin-top: 7px;
  margin-left: 5px;
}

.overlay-txt {
  color: #fff;
  height: 200px;
  text-align: left;
  margin-top: 32px;
  margin-left: 41px;
}

#topline {
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
}

#label {
  font-weight: 400;
}

h1 {
  font-weight: 700;
  margin-top: 12px;
  margin-left:  18px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  margin-top: 5px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

.profile-img {
  margin-top: -24px;
  margin-left: 176px;
  width: 162px;
  height: 162px;
  background: transparent url("/img/profile.jpg") no-repeat;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 50%;
}

.box-intro {
  margin-top: 3px;
  text-align: center;
  background: #e6e8e3;
}

.box-intro div {
  margin: 56px 36px;
}

#symbol {
  height: 15px;
  margin: 7px -18px 0 0;
  display: flex;
  align-items: center;
  float: left;
}

#line {
  height: 2px;
  width: 40px;
  background: #808c73;
  margin: 0;
}

#dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #808c73;
  margin-left: -5px;
}

#intro {
  text-align: left;
}

/* tech block */
.box-tech {
  margin: 3px;
  text-align: center;
}

.box-tech div {
  margin: 35px 36px 55px 36px;
  width: 303px; 
}

h4 {
  width: fit-content;
  padding: 6px 12px;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  text-align: center;
  background: #808c73;
  display: inline-block;
}

/*  project block */
.box-projects {
  margin-top: 3px;
  text-align: center;
  background: #e6e8e3;
}

.box-projects div {
  margin: 35px 36px 0 36px;
  width: 303px;
}

.box-projects a {
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer;
}

.screenshot-container {
  margin-top: 25px;
  position: relative;
}

.ss {
  width: 303px;
  display: block;
}

.layer {
  top: -16px;
  height: 126px;
  width: 303px;
  font-size: 16px;
  font-weight: 700;
  color: #b2baab;
  line-break: 19px;
  padding: 53px;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
}

.screenshot-container:hover .layer {
  opacity: 0;
  transition: opacity 0.4s ease-out;
} 

.project-desc {
  margin-top: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

span {
  font-weight: 700;
  color: #808c73;
}

.desc-txt {
  margin: 0;
}

.project-tags {
  margin: -1px 0 38px 0;
  display: flex;
  flex-flow: row wrap;
}

.tag {
  width: fit-content;
  padding: 3px 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  margin-right: 4px;
  background: #b2baab;
}

h5 {
  font-size: 21px;
  line-height: 25px;
  color: #808c73;
  margin-top: 67px;
}

/* blog block */
.box-blog {
  margin: 3px;
  text-align: center;
}

.box-blog div {
  margin: 35px 36px 65px 36px;
  width: 303px;
}

.box-blog a {
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer;
}

.post-container {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  display: flex;
}

.post-container- {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  display: none;
  /* display: flex; */
}

.post-desc {
  margin-top: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.date {
  margin-top: 14px;
  color: #808c73;
}

.post-title {
  margin-top: -15px; 
  font-size: 21px;
  font-weight: 700;
}

.post-intro {
  margin-top: -23px;
}

.post-container-more {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.date-more {
  margin: 0 8px 0 0;
  color: #808c73;
  float: left;
}

.post-title-more {
  margin: 0; 
  font-weight: 700;
  display: inline-flex;
}

/* skill block */
.box-skills {
  padding: 3px;
  text-align: center;
  background: #e6e8e3;
}

.margins {
  margin: 35px 36px 55px 36px;
  width: 303px;
}

.skill-container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 17px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.left {
  margin: 0;
  padding: 0;
  width: 140px;
}

.right {
  margin: 0;
  padding: 0;
  width: 163px;
}

h6 {
  margin: 0;
  padding-top: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #808c73;
  line-height: 14px;
}

/* social links repeated */
.socials-container {
  padding: 3px 3px 50px 3px;
  text-align: center;
}

.socials-fill {
  display: flex;
  justify-content: space-around;
}

.socials-fill a {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #808c73;
  cursor: pointer;
}

.social-link-fill {
  margin-top: 15px;
  height: 59px;
  width: 59px;
  border: 3px solid #808c73;
  border-radius: 50%;
}

.link-label {
  margin-top: 10px;
  padding: 0px;
}

#linkedin-fill {
  height: 30px;
  width: 30px;
  margin-top: 13px;
  margin-left: 2px;
}

#github-fill {
  height: 31px;
  width: 30px;
  margin-top: 14px;
  margin-left: -1px;
}

#email-fill {
  height: 32px;
  width: 32px;
  margin-top: 13px;
  margin-left: -5px;
}

/* footer */
footer {
  padding: 3px;
  text-align: center;
  color: #fff;
  background:#808c73;
}

footer div {
  margin: 35px 36px 55px 36px;
  width: 303px; 
}

#caps {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 29px;
  font-weight: 700;
}

#regular {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 29px;
  font-weight: 400;
}

 /* Media Queries */
/* @media (min-width: 768px) {  
  body {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0;
  }

  section {
    width: 100%;
  }
  
  .hero {
    height: 700px;
  }
  
  .socials {
    margin-top: 100px;
    margin-right: 80px;
    justify-content: flex-end;
  }

  .social-link {
    height: 80px;
    width: 80px;
    margin-left: 11px;
  }

  #linkedin {
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 23px;
  }

  #github {
    height: 37px;
    width: 35px;
    margin-top: 19px;
    margin-left: 22px;
  }

  #email {
    height: 37px;
    width: 37px;
    margin-top: 19px;
    margin-left: 20px;
  }

  .overlay-txt {
    height: 250px;
    text-align: left;
    margin-top: 60px;
    margin-left: 50px;
    align-items: flex-start;
  }

  #topline {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.12px;
  }

  h1 {
    margin-top: 28px;
    margin-left: 18px;
    font-size: 28px;
  }

  h2 {
    font-size: 82px;
    line-height: 100px;
    margin-top: 45px;
  }

  h3 {
    font-size: 50px;
    line-height: 61px;
  }

  .profile-img {
    margin-top: 10px;
    margin-left: 421px;
    width: 280px;
    height: 280px; 
    border: 4px solid #fff;
    align-self: flex-end;
  }

  .box-intro div {
    margin: 77px 50px;
  }

  #symbol {
    height: 32px;
  }

  #line {
    width: 80px;
  }

  #dot {
    height: 15px;
    width: 15px;
  }

  /* tech block 
  .box-tech {
    display: flex;
    flex-direction: column;
  }
  .box-tech div {
    margin: 40px 50px 87px 50px;
    width: 668px;
  }

  h4 {
    font-size: 48px;
    line-height: 58px;
  }

  /*  project block 
  .box-projects div {
    margin: 35px 50px 100px 50px;
    width: 668px;
  }

  .screenshot-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
  }

  .ss {
    width: 522px;
  }

  .layer {
    top: -28px;
    height: 218px;
    width: 416px;
    font-size: 28px;
    padding-top: 90px;
  }

  .project-desc {
    margin-left: 74px;
    width: 522px;
    font-size: 25px;
    line-height: 41px;
  }

  .project-tags {
    margin-left: 74px;
    width: 522px;
  }

  .tag {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 19px;
    margin-right: 7px;
  }

  h5 {
    font-size: 38px;
    line-height: 47px;
    margin-top: 118px;
  }

  /* blog block 
  .box-blog div {
    margin: 35px 50px 65px 50px;
    width: 668px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .post-container {
    font-size: 25px;
    line-height: 41px;
    width: 520px;
  }

  .post-container- {
    font-size: 25px;
    line-height: 41px;
    width: 520px;
    display: flex;
  }

  .post-desc {
    margin-top: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 522px;
    font-size: 25px;
    line-height: 41px;
  }

  .date {
    margin-top: 23px;
  }

  .post-title {
    margin-top: -28px; 
    font-size: 30px;
  }

  .post-intro {
    margin-top: -32px;
    margin-bottom: 50px;
  }

  .post-container-more {
    font-size: 25px;
    line-height: 29px;
  }

  .date-more {
    margin: 0 16px 0 0;
  }

  /* skill block 
  .margins {
    margin: 57px 50px 75px 50px;
    width: 668px;
    font-size: 25px;
  }

  .skill-container {
    line-height: 41px;
  }

  h6 {
    font-size: 25px;
    line-height: 41px;
  }

  /* social links repeated 
  .socials-container {
    padding: 3px 3px 75px 3px;
  }

  .social-link-fill {
    margin-top: 15px;
    height: 160px;
    width: 160px;
  }

  .socials-fill a {
    font-size: 25px;
  }

  .link-label {
    margin-top: 10px;
    padding: 0px;
  }

  #linkedin-fill {
    height: 55px;
    width: 55px;
    margin-top: 13px;
    margin-left: 2px;
  }

  #github-fill {
    height: 55px;
    width: 55px;
    margin-top: 14px;
    margin-left: -1px;
  }

  #email-fill {
    height: 55px;
    width: 55px;
    margin-top: 13px;
    margin-left: -5px;
  }

  /* footer 

  footer {
    /* margin-top: 57px; 
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer div {

  }

  #caps {
    line-height: 50px;
  }

  #regular {
    line-height: 50px;
  }
} */

/* Desktop */
/* @media (min-width: 900px) {

}  */