/* MOBILE
viewport size 375x812
design size 375x5141 */

/* main artboard area */
/* body {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 508px;
  background: #170303 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 0.26;
} */


/* 
hero img block
top: 0px;
left: 0px;
width: 375px;
height: 508px;
background: #170303 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.26;






*/




/* DESKTOP

viewport size - 1920 x 1080
design size - 1920 x 7319 */

